* {
  padding: 0;
  margin: 0;
}

html {
  a {
    text-decoration: none;
  }
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

body {
  font-family: "Ubuntu", sans-serif;

  h1,
  h2,
  h3,
  h4 {
    font-family: "Proza Libre", sans-serif;
    font-weight: 600;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

.MuiFormLabel-root {
  background-color: white;
  // margin-top: -5px;
  padding: 0 10px !important;
}

// Fonts
// font-family: 'Patrick Hand', cursive;
// font-family: 'Proza Libre', sans-serif; - heading
// font-family: 'Ubuntu', sans-serif;
